flows.json
[{"id":"f4a274ceada296ff","type":"tab","label":"Flujo 1","disabled":false,"info":"","env":[]},{"id":"f4623092fcf12289","type":"mqtt in","z":"f4a274ceada296ff","name":"","topic":"st/Grupo11/GIngreso","qos":"2","datatype":"auto-detect","broker":"64b1126abaffb7da","nl":false,"rap":true,"rh":0,"inputs":0,"x":270,"y":100,"wires":[["80710cfda0f9047f"]]},{"id":"80710cfda0f9047f","type":"function","z":"f4a274ceada296ff","name":"Buscar Ultimo estado","func":"var rfid = msg.payload;\nmsg.id = rfid;\nmsg.topic = \"SELECT estado, rfid from accesos  WHERE rfid =  '\"+rfid+\"' ORDER BY fecha  DESC LIMIT 1;\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":160,"wires":[["978eb91e55507f17","c54362be74f3e407"]]},{"id":"978eb91e55507f17","type":"mysql","z":"f4a274ceada296ff","mydb":"d37de0578d9afe5c","name":"","x":600,"y":160,"wires":[["c54362be74f3e407"]]},{"id":"c54362be74f3e407","type":"function","z":"f4a274ceada296ff","name":"Asignar Estado","func":"var objeto = msg.payload;\nvar id = msg.id\nif(objeto[0].estado == \"Entrada\"){\n    msg.topic = \"INSERT INTO `Monitoreo Facial`.accesos(rfid, estado, fecha) VALUES('\"+objeto[0].rfid+\"', 'Salida', CURRENT_TIMESTAMP);\";\n    return msg;\n}else if(objeto[0].estado == \"Salida\"){\n    msg.topic = \"INSERT INTO `Monitoreo Facial`.accesos(rfid, estado, fecha) VALUES('\"+objeto[0].rfid+\"', 'Entrada', CURRENT_TIMESTAMP);\";\n    return msg;\n}else if(objeto[0].estado == \"\"){\n    msg.topic = \"INSERT INTO `Monitoreo Facial`.accesos(rfid, estado, fecha) VALUES('\"+id+\"', 'Entrada', CURRENT_TIMESTAMP);\";\n    return msg;\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":240,"wires":[["ab346bdc3935017c"]]},{"id":"ab346bdc3935017c","type":"mysql","z":"f4a274ceada296ff","mydb":"d37de0578d9afe5c","name":"","x":660,"y":240,"wires":[[]]},{"id":"64b1126abaffb7da","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"d37de0578d9afe5c","type":"MySQLdatabase","name":"MySQL","host":"172.183.249.205","port":"3306","db":"Monitoreo Facial","tz":"","charset":"UTF8"}]